# Application
PORT=3000

# Database
DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=toefl_pbt
DB_PORT=5432
DB_DIALECT=postgres # Options: postgres, mysql

# JWT
JWT_SECRET=supersecretkey123

# SMTP (Email)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=password
